@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-only  {
    @media (min-width: 768px) and (max-width: 1023px) { @content; }
  } @else if $size == phone-tablet  {
      @media (max-width: 1023px) { @content; }
  } @else if $size == big-desktop {
      @media (min-width: 1800px) { @content; }
  }
}

body {
  color: #fff;
  line-height: 1.7;
  height: 100vh;
  background-image: url('../images/bg-intro-desktop.png');
  background-size: cover;
  background-color: hsl(0, 100%, 74%);
  font-family: 'Poppins', sans-serif;

  @include for-size(phone-tablet) {
    background-image: url('../images/bg-intro-mobile.png')
  }

}

.container {
  height: 100vh;
  padding: 0 5%;

  @include for-size(phone-tablet) {
    text-align: center;
    padding: 3rem 1.5rem 0rem;
  }

  .row {
    height: 100%;
    
    .column-1 {

      h1 {
        line-height: 1!important;
      }

    }

    @include for-size(phone-tablet) {
      .column-1 {
        padding: 0rem 0.5rem 3rem;
        h1 {
          font-size: 2rem;
        }
      }
    }

    .column-2 {

      .notify {
        border-radius: 8px;
        background-color: hsl(248, 32%, 49%) ;
        height: 3rem;
        box-shadow: 0 7px 0 rgba(0, 0, 0, 0.15);
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 1.5rem;

        p {
          margin: 0!important;
        }
      }

      

      .form-group {
        .error {
          color: hsl(0, 100%, 64%); 
          border-color: hsl(0, 100%, 64%); 
        }

        .input-error {
          display: inline-block;
          background-size: 1.3rem auto;
          background-position: 95% 50%;
          background-repeat: no-repeat;
          background-image: url('../images/icon-error.svg')
        }
        small {
          display: block;
          text-align: right;
          
        }
      }

      @include for-size(phone-tablet) {
        margin-bottom: 3rem;
        .notify {
          height: 5rem;
          line-height: 5rem;
          padding: 0 2rem;

          p {
            line-height: 1.7rem;
            margin: 0!important;
          }

        }
      }

      .form {
        color: hsl(246, 25%, 77%);
        background-color: #fff;
        border-radius: 8px;
        padding: 2rem 2rem 0;
        box-shadow: 0 7px 0 rgba(0, 0, 0, 0.15);

        .form-control {
          padding: 1.5rem 1rem;
          font-weight: bold;
          height: 3rem;
        }

        button {
          padding: 0.2rem;
          height: 3rem;
          display: block;
          width: 100%;
          background-color: #38CB8C;
          box-shadow: 0 -3px 0 #19c279 inset;
        }

        p {
          text-align: center;
          font-size: 0.7rem;
          padding: 1rem;
          
          a {
            text-decoration: none;
            color: hsl(0, 100%, 64%); 
          }
        }
      }
    }
  }
}